.. _{{ underscored_name }}_inclusion_python_class:
.. _{{ pascalcased_name }}:

.. role:: python(code)
   :language: py

.. tags:: {{ dashed_name }}, python, inclusion, class

{{ pascalcased_name }}Inclusion (python class)
=========================================================================

.. seealso::
   :ref:`math concept<{{ underscored_name }}_math_inference_rule>` | :ref:`python declaration class<{{ underscored_name }}_declaration_python_class>` | :ref:`python sample<{{ underscored_name }}_python_sample>`

.. module:: core
   :noindex:
.. autoclass:: {{ pascalcased_name }}Inclusion
   :members:
