.. _{{ underscored_name }}_math_concept:

.. role:: python(code)
    :language: py

.. tags:: {{ dashed_name }}, math, concept, inference-rule

{{ dashed_name }} (math concept)
=============================================

.. seealso::
   :ref:`python declaration class<{{ underscored_name }}_declaration_python_class>` | :ref:`python inclusion class<{{ underscored_name }}_inclusion_python_class>` | :ref:`python sample<{{ underscored_name }}_python_sample>`

Definition
----------

.. include:: {{ underscored_name }}_math_concept_definition.rstinc
