python_version >= 3.11
Sphinx
sphinx-autodoc-typehints
sphinx-exec-code
sphinx-favicon
sphinx-rtd-theme
sphinx-togglebutton
sphinxawesome-theme
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-inlinesyntaxhighlight
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml